
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 100px; 
    margin-top: 20px;
}

.btn {
    color: rgb(14, 10, 10);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
}

.btn:hover {
    background-color: orange;
}

iframe {
    border: 2px solid #ccc;
    margin-top: 20px;
}